/* Button */

.button {
	display: inline-block;
	padding: 0.6rem 0.889rem;
	box-shadow: none;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	overflow-wrap: break-word;
	color: $buttonText;
	border: 2px solid $buttonBorder;
	background: $buttonBackground;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		border-color: $buttonBorderHover;
		color: $buttonTextHover;
		background: $buttonBackgroundHover;
	}
}
