/* Comments */

.comments {
	@include margin(3rem null);

	.comment-reply-title,
	.comments-title {
		font-size: 1.6em;
		color: $black;
	}

	.comment-list {
		padding: 0;
	}

	.comment {
		list-style: none;
	}

	.comment-body {
		padding: 15px;
		margin-bottom: 1rem;
		background-color: #eee;
	}

	.comment-author {
		display: flex;
		align-items: center;
		gap: 0.5em;

		cite {
			font-style: normal;
			// font-weight: bold;
			color: $black;
		}
	}

	.comment-reply-link {
		@extend .button;

		font-size: 0.68em;
	}

	.comment-form {
		.comment-form-cookies-consent {
			display: flex;
		}

		input[type="submit"] {
			@extend .button;
		}

		input[type="checkbox"] {
			display: flex;
			flex: 2;
			margin: 0 0.5rem 0 0;
			min-width: 1.5rem;
		}
	}
}
