// Navbar

.navbar {
	@include padding(1rem null);

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	img {
		width: 100%;
		height: auto;

		@media (max-width: 575.98px) {
			max-width: 250px;
		}
	}
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 2px solid transparent;
	border-radius: 0.25rem;
	transition: 0.4s;
	right: 0;

	&.show {
		position: absolute;
		right: 80%;

		@media (min-width: 768px) {
			right: 60%;
		}

		@media (min-width: 992px) {
			right: 40%;
		}
	}

	.navbar-toggler-icon {
		display: inline-block;
		cursor: pointer;

		.bar1,
		.bar2,
		.bar3 {
			width: 35px;
			height: 5px;
			background-color: #333;
			margin: 6px 0;
			margin-left: auto;
			transition: 0.4s;
		}

		&.close {
			.bar2 {
				width: 27px;
			}

			.bar3 {
				width: 19px;
			}
		}
	}
}

.navbar-collapse {
	position: absolute;
	top: 0;
	display: flex;
	flex: 1;
	align-items: flex-start;
	width: 80%;
	height: 100vh;
	padding: 1.5rem 1.2rem 5rem;
	background: $background;
	overflow-y: auto;
	transition: 0.4s;

	@media (min-width: 768px) {
		width: 60%;
	}

	@media (min-width: 992px) {
		width: 40%;
	}

	&:not(.show) {
		right: -100%;
	}

	&.show {
		right: 0;
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;

		.nav-item {
			a {
				display: block;
				padding: 0.25rem;
				font-size: 1rem;
				text-decoration: none;

				@media (min-width: 768px) {
					padding: 0.5rem;
					font-size: 1.15rem;
				}
			}

			.nav-link {
				text-transform: uppercase;
			}
		}
	}
}

.dropdown {
	.dropdown-menu {
		list-style: none;
	}
}

.navbar-content-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: transparent;
	visibility: hidden;
	transition: background-color 0.4s;

	&.show {
		visibility: visible;
		background-color: rgba($black, 0.8);
	}
}
