// Post

.post-excerpt {
	display: flex;
	gap: 1rem;
	flex-direction: column-reverse;
	align-items: center;

	@media (min-width: 768px) {
		flex-direction: row;
		align-items: flex-start;
	}

	%date-featured {
		color: $textFeatured;
		text-transform: uppercase;
		font-weight: bold;
	}

	.column-date {
		display: none;

		@media (min-width: 768px) {
			display: block;
		}

		.day {
			@extend %date-featured;
			text-align: center;
		}

		.date {
			font-size: 1.6rem;
			text-align: center;
			line-height: 1;
		}
	}

	.column-entry {
		.post-date {
			@extend %date-featured;
			text-align: center;
		}

		.entry-title {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			margin-bottom: 0;
			padding-bottom: 1rem;
			font-size: 1.6rem;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.entry-content {
			font-size: 1rem;
			text-align: center;

			@media (min-width: 768px) {
				text-align: initial;
			}
		}

		.entry-footer {
			display: flex;
			align-items: flex-end;
			flex: 1;
			padding-left: 1rem;
			padding-right: 1rem;

			.read-more-link {
				@extend .button;
			}
		}

		@media (min-width: 768px) {
			.post-date,
			.entry-title {
				text-align: initial;
			}

			.entry-footer {
				.read-more-link {
					margin: 0;
				}
			}
		}
	}

	.column-thumbnail {
	}
}
