/* Related posts */

.related {
	@include margin(3rem null);

	.related-title {
		font-size: 1.6em;
		color: $black;
	}

	.related-grid {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(1, 1fr);
		align-items: flex-start;

		@media (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 992px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.post-excerpt {
		flex-direction: column-reverse;

		.column-date {
			display: none;
		}

		@media (min-width: 768px) {
			.column-thumbnail,
			.post-thumbnail,
			.wp-post-image {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
}
