form {
	p {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	label {
		margin: 0;
		width: 100%;
	}

	span {
		font-size: 1rem;
	}
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select {
	width: 100%;
	min-height: 2rem;
	padding: 8px;
	border: 2px solid $inputBorder;
	border-radius: 0;
	background: $inputBackground;
	background-clip: padding-box;
	box-sizing: border-box;
}

input[type="checkbox"] {
	transform: scale(1.25);
	margin-right: 0.5rem;
}

button[type="submit"],
input[type="submit"] {
	display: block;
	min-height: 2rem;
	padding: 0.6rem 0.889rem;
	font-weight: 500;
	border: 2px solid $buttonBorder;
	border-radius: 0;
	color: $buttonText;
	background: $buttonBackground;
	box-sizing: border-box;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;

	&:hover,
	&:active,
	&:focus {
		border-color: $buttonBorderHover;
		color: $buttonTextHover;
		background: $buttonBackgroundHover;
	}
}

textarea {
	min-height: 50px;
}

select {
	position: relative;
	width: 100%;
	border-radius: 0;
	font-size: 1rem;
}

input,
textarea,
select {
	&:autofill,
	&:autofill:hover,
	&:autofill:focus {
		transition: background-color 5000s ease-in-out 0s;
		border: 2px solid $inputBorder;
		box-shadow: 0 0 0 1000px transparent inset;
		-webkit-text-fill-color: $textBase;
	}
}

::placeholder {
	color: $inputPlaceholder;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $inputPlaceholder;
}

::-ms-input-placeholder {
	color: $inputPlaceholder;
}
