// Footer
.footer {
	padding-top: 5rem;
	background-color: $black;
	color: $white;
}

.footer-widgets {
	padding: 30px 0;

	.container {
		display: grid;
		grid: auto / 1fr;
		gap: 2rem;
		text-align: center;

		@media (min-width: 768px) {
			grid: auto / repeat(2, 1fr);
			text-align: inherit;
		}

		@media (min-width: 992px) {
			grid: auto / 1fr 2fr 1fr;
		}
	}

	.widget {
		padding: 15px 0;
		color: $white;
		font-size: 0.8rem;

		.widget-title {
			margin-bottom: 30px;
			color: $white;
		}
	}

	.wp-block-media-text {
		gap: 0.5rem;

		&__media {
			display: grid;
			justify-content: flex-end;
		}
	}

	// Change Gallery Widget to Display Grid
	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;

		.gallery-item {
			width: auto !important;
			margin: 0 !important;
		}

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;

			.gallery-item {
				width: auto !important;
				margin: 15px !important;
			}
		}
	}
}

.footer-copyright {
	font-size: 14px;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		padding: 2rem 0;
		border-top: 1px solid rgba($white, 50%);

		@media (min-width: 992px) {
			flex-direction: row;
		}
	}

	span {
		display: flex;
		align-items: center;
		line-height: 1;
	}
}
