// Header

#header {
	.navbar {
		position: fixed;
		width: 100%;
		z-index: 1080;
		background: transparent;
		-webkit-transition: position 0.5s, top 0.5s, background 0.5s;
		-moz-transition: position 0.5s, top 0.5s, background 0.5s;
		-o-transition: position 0.5s, top 0.5s, background 0.5s;
		transition: position 0.5s, top 0.5s, background 0.5s;

		@media (max-width: 991.98px) {
			.navbar-brand-link {
				flex: 1;
			}
		}

		.navbar-brand {
			max-width: 180px;
			max-height: 38px;

			&.alt {
				display: none;
			}
		}

		.navbar-toggler {
			order: 99;
		}

		.navbar-toggler-icon {
			.bar1,
			.bar2,
			.bar3 {
				background-color: $white;
			}
		}

		.navbar-collapse {
			.nav-item {
				&.active {
					& > a {
						color: $primary;
					}
				}
			}
		}

		&.sticky {
			position: fixed;
			top: 0;
			width: 100%;
			background: rgba($black, 80%);

			.navbar-brand {
				display: none;

				&.alt {
					display: block;
				}
			}
		}
	}

	.header-inner {
		position: relative;
		display: flex;
		min-height: 800px;
		margin-bottom: 2rem;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		&::before {
			content: "";
			display: block;
			@include position(absolute, 0);
			@include size(100%);
			background-color: rgba($black, 85%);
		}

		.container {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 10;
		}
	}

	.header-title {
		position: relative;
		margin: 0;
		padding: 1rem 0 1rem 10%;
		text-transform: uppercase;
		font-size: 1.7em;
		line-height: 1.2;

		@media (min-width: 768px) {
			padding: 1rem 0 1rem 5%;
		}

		@media (min-width: 992px) {
			padding: 1rem 0 1rem 3%;
			font-size: 2.7em;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 6px;
			left: 1rem;
		}

		&::before {
			top: 0;
			height: 40%;

			border-right: 6px solid $primary;
			border-bottom: 6px solid transparent;
		}

		&::after {
			height: calc(60% - 6px);
			top: calc(40% + 6px);

			border-left: 6px solid $white;
			border-top: 6px solid transparent;
		}
	}
}
