// Master Title with Border Block style with brand Decoration

.master-title-with-border-block {
	&.is-style-with-brand-decoration {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			position: relative;
			margin: 0;
			padding: 1rem 0 1rem 5%;
			border-style: none;
			border-color: inherit;

			@media (min-width: 992px) {
				padding: 1rem 0 1rem 3%;
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 6px;
				left: 0;
			}

			&::before {
				top: 0;
				height: 40%;

				border-right-width: 6px;
				border-right-style: solid;
				border-right-color: inherit;

				border-bottom: 6px solid transparent;
			}

			&::after {
				height: calc(60% - 6px);
				top: calc(40% + 6px);

				border-left: 6px solid $white;
				border-top: 6px solid transparent;
			}
		}
	}
}
