// WP Image Block With Hover Effect

.is-style-with-hover-effect {
	position: relative;
	margin: 0;

	figcaption {
		position: absolute;
		bottom: 0;
		width: 100%;
		font-size: 1.4rem;
		font-weight: 500;
		color: #ffffff;
		z-index: 10;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: $primary;
		mix-blend-mode: multiply;
	}

	@media (min-width: 992px) {
		filter: grayscale(100%);

		&::after {
			background-color: rgba($black, 0.6);
			mix-blend-mode: unset;
		}

		&:hover {
			filter: grayscale(0);

			&::after {
				background-color: $primary;
				mix-blend-mode: multiply;
			}
		}
	}
}
