// WP Block Button Outline Styele

.wp-block-button {
	&.is-style-outline {
		.wp-block-button__link {
			transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;

			@each $name, $color in $colors {
				&.has-#{$name}-color {
					&:hover,
					&:focus,
					&:active {
						color: color-contrast($color) !important;
						border-color: $color;
						background-color: $color !important;
						text-decoration: none;
					}
				}
			}
		}
	}
}
