// Column Block Style with Center Divider

.wp-block-column {
	&.is-style-with-end-divider {
		border-bottom: 2px solid $primary;

		@media (min-width: 768px) {
			padding-right: 2rem;
			border-bottom: unset;
			border-right: 2px solid $primary;
		}
	}
}
