// WP Buttons Style Grid Four Gig Buttons

.wp-block-buttons {
	&.is-style-grid-four-big-buttons {
		display: grid;
		grid-template-columns: 1fr;

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) {
			grid-template-columns: repeat(4, 1fr);
		}

		.wp-block-button,
		.wp-block-button__link {
			width: 100%;
			height: 100%;
		}

		.wp-block-button__link,
		.wp-block-button__link.has-text-color {
			display: flex;
			justify-content: center;
			align-items: center;

			min-height: 200px;

			&:hover,
			&:active,
			&:focus {
				color: #e3a224 !important;
				border-color: #e3a224 !important;
				background-color: transparent !important;
			}
		}
	}
}
