// Block Categories list

.wp-block-categories {
	list-style: none;

	.cat-item {
		position: relative;
		display: flex;
		align-items: center;

		&::after {
			content: "";
			display: inline-block;
			position: relative;
			width: 0.65rem;
			height: 0.65rem;
			border-style: solid;
			border-width: 3px 3px 0 0;
			margin-left: 8px;
			transform: rotate(45deg);
		}
	}
}
