// Block List

.wp-block-list,
.entry-content ul {
	padding-left: 2.5rem !important;
	list-style-type: square;

	li {
		margin-bottom: 2rem;

		&::marker {
			font-size: 1.5rem;
			color: $primary;
		}
	}
}
