// Block Search

.wp-block-search {
	&.wp-block-search__button-inside {
		.wp-block-search__inside-wrapper {
			padding: 1rem;
			border-color: rgba($white, 50%);
			background: $black;
		}

		.wp-block-search__input {
			background: transparent;
			color: $white;

			&::placeholder {
				color: rgba($white, 50%);
				opacity: 1;
			}

			&:-ms-input-placeholder {
				color: rgba($white, 50%);
			}

			&::-ms-input-placeholder {
				color: rgba($white, 50%);
			}

			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus {
				-webkit-text-fill-color: rgba($white, 50%);
			}
		}

		.wp-block-search__button {
			background: $black;
			border: none;

			svg {
				fill: rgba($white, 50%);
			}
		}
	}
}
