// Buttons

// Button alignment correction
.wp-block-buttons {
	&.alignright {
		text-align: right;

		.wp-block-button {
			margin-right: unset;
		}
	}

	.wp-block-button {
		.wp-block-button__link {
			padding: 0.6em 0.889em;
			font-size: 0.85em;

			&:hover {
				text-decoration: none;
				opacity: 0.9;
			}
		}
	}
}
