// Block Media and Text

.wp-block-media-text {
	@media (min-width: 768px) {
		gap: 8%;
	}

	.wp-block-media-text__media {
		img {
			width: unset;
			max-width: 100%;
		}
	}

	.wp-block-media-text__content {
		padding: 0;

		*:last-child {
			margin-bottom: 0;
		}
	}

	&.is-stacked-on-mobile {
		.wp-block-media-text__media {
			display: flex;
			justify-content: center;

			@media (max-width: 767.98px) {
				margin-bottom: 0.5rem;
			}
		}
	}
}
