// 404 Error Page

.error404 {
	background: url(../../images/404-background.jpg) no-repeat center center;
	background-size: cover;

	.error-message {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		text-align: center;
		color: $white;

		& > span {
			font-size: 8rem;
			font-weight: bold;
			line-height: 1;
			color: $white;

			@media (min-width: 992px) {
				font-size: 16rem;
			}
		}

		.page-title {
			margin-bottom: 2rem;
			font-weight: 500;
		}

		& > p {
			font-size: 1.4em;
			margin-bottom: 2rem;
		}

		& > a {
			display: inline-block;
			padding: 7px 25px;
			text-transform: uppercase;
			border-radius: 0;
			font-weight: 500;
			text-decoration: none;
			color: $white;
			border: 2px solid $white;
			background: transparent;
			box-sizing: border-box;
			transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;
		}
	}
}
