/* Blog */

.blog {
	main {
		& > .container {
			display: grid;
			grid: auto / 100%;
			gap: 4rem;
			margin-bottom: 3rem;

			@media (min-width: 992px) {
				gap: 3rem;
				grid: auto / 70% 30%;
			}
		}
	}

	.header-title {
		max-width: 230px;

		@media (min-width: 992px) {
			max-width: 330px;
		}

		span:last-child {
			color: $primary;
			font-weight: bold;
		}
	}
}
