/* With Sidebar */

.post-template-with-sidebar {
	main {
		& > .container {
			display: grid;
			grid-template:
				"header"
				"content"
				"sidebar";
			gap: 1rem;
			margin-bottom: 2rem;
			padding: 0;

			@media (min-width: 992px) {
				grid-template:
					"header header header header header"
					"content content content content sidebar";
			}
		}
	}

	.entry-header {
		grid-area: header;

		.entry-title {
			font-size: 2.5rem;
		}

		.post-date {
			color: $textFeatured;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 0;
		}
	}

	.entry-content {
		grid-area: content;

		.wp-post-image {
			max-width: 100%;
			height: auto;
		}
	}

	.blog-sidebar {
		grid-area: sidebar;
	}
}
