// Color Pallete

$white: #ffffff;
$black: #000000;
$background: #f1f1f1;
$primary: #e3a224;
$titleInPrimary: #000000;
$textInPrimary: #000000;
$textTitle: #000000;
$textBase: #000000;
$textFeatured: #bebebe;
$inputPlaceholder: #cdcdcc;
$inputBorder: #cdcdcc;
$inputBackground: #ffffff;
$buttonBackground: transparent;
$buttonBackgroundHover: #000000;
$buttonText: #000000;
$buttonTextHover: #ffffff;
$buttonBorder: #000000;
$buttonBorderHover: #000000;
